<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Fly Travels</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'payments/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <!-- Add your header content here -->
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer-links">
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a><br>
                <a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a><br>
                <a href="{% url 'cancellation_policy' %}">Cancellation Policy</a><br>
                <a href="{% url 'contact_us' %}">Contact Us</a><br>
            </div>
        </footer>
    </div>
</body>
</html>
