<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'payments/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'payments/LOGO PNG.png' %}" alt="Logo" class="logo">
        </div>
        <div class="form-header">
        <h1>Contact Us</h1>
    </div>
        <p>If you have any questions or need assistance, feel free to reach out to us:</p>
        <h2>Email Us</h2>
        <p>Email: <a href="mailto:loveflytravelspta@gmail.com">loveflytravelspta@gmail.com</a></p>
        <h2>Call Us</h2>
        <p>Phone: [Your Phone Number]</p>
        <h2>Office Address</h2>
        <p>[Your Office Address]</p>
    </div>
</body>
</html>
