{% extends 'payments/base.html' %}

<!DOCTYPE html>
{% load static %}
{% block content %}
   
        <div class="logo-container">
            <img src="{% static 'payments/LOGO PNG.png' %}" alt="Logo" class="logo">
        </div>
        <div class="form-header">
            <h1>Privacy Policy</h1>
        </div>
        <div class="privacy-policy">
            <section>
                <h2>Introduction</h2>
                <p>Welcome to Love Fly Travels ("we", "our", "us"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy or our practices with regards to your personal information, please contact us at <a href="mailto:loveflytravelspta@gmail.com">loveflytravelspta@gmail.com</a>.</p>
            </section>
            <section>
                <h2>Information We Collect</h2>
                <p>We collect personal information that you voluntarily provide to us when you register on the website, express an interest in obtaining information about us or our products and services, when you participate in activities on the website, or otherwise when you contact us.</p>
                <ul>
                    <li>Name</li>
                    <li>Email Address</li>
                    <li>Contact Numbers (including international and Indian contact numbers)</li>
                    <li>Payment Information (e.g., credit card details, billing address)</li>
                    <li>Travel Details (e.g., itinerary, travel dates, destinations)</li>
                </ul>
            </section>
            <section>
                <h2>How We Use Your Information</h2>
                <p>We use the information we collect or receive:</p>
                <ul>
                    <li>To facilitate account creation and the login process.</li>
                    <li>To send administrative information to you.</li>
                    <li>To fulfill and manage your orders.</li>
                    <li>To protect our Services.</li>
                    <li>To enforce our terms, conditions, and policies for business purposes, to comply with legal and regulatory requirements, or in connection with our contract.</li>
                    <li>To respond to legal requests and prevent harm.</li>
                </ul>
            </section>
            <section>
                <h2>Sharing Your Information</h2>
                <p>We only share and disclose your information in the following situations:</p>
                <ul>
                    <li>Compliance with Laws.</li>
                    <li>Vital Interests and Legal Rights.</li>
                    <li>Business Transfers.</li>
                </ul>
            </section>
            <section>
                <h2>Data Security</h2>
                <p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>
            </section>
            <section>
                <h2>Your Privacy Rights</h2>
                <p>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information.</p>
            </section>
            <section>
                <h2>Contact Us</h2>
                <p>If you have questions or comments about this policy, you may contact our Data Protection Officer (DPO) at:</p>
                <p>Love Fly Travels<br>
                    ANAPPARA PATHANAMTHITTA<br>
                <a href="mailto:loveflytravelspta@gmail.com">loveflytravelspta@gmail.com</a><br>
                <a href="tel:+ 971 567320711">Phone: + 971 567320711</a><br><br><a href="tel:+971 55 598 1041">Phone: +971 55 598 1041</a><br></p>
                <br><br>Love Fly Travels<br>
                BIN HADDAH BUILDING <br>
                ROLLA GRNDMALL  <br>
                SHARJAH UAE<br><br>
            <a href="mailto:loveflytravelspta@gmail.com">loveflytravelspta@gmail.com</a><br>
            <br><a href="tel:+ 971 567320711">Phone: + 971 567320711</a><br><br><a href="tel:+971 55 598 1041">Phone: +971 55 598 1041</a><br> </p>
        
            </section>
            <section>
                <h2>Updates to This Policy</h2>
                <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons. We will notify you of any changes by posting the new policy on our website. You are advised to review this policy periodically for any changes.</p>
            </section>
        </div>
   
    </html>
    {% endblock %}
    
